.CategoryPage{
    width: 30%;
    /* padding-top: 4%; */
    padding-bottom: 4%;
    padding-left: 2%;
    padding-right: 2%;
    /* border-right: solid gray 1px; */
    /* text-align: center; */
}
.CategoryPara{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-right: 2%;
    /* border-bottom: solid black 1px; */
    /* line-height: solid black 1px; */
}
.Category-Row1-col1{
    
}
.RatingButton{
    border-style: none;
    background-color: #c9141a;
    color: white;
    border-radius: 12px;
    padding-left: 2%;
    padding-right: 2%;
}